In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
ls data

air_reserve.csv        date_info.csv          sample_submission.csv
air_store_info.csv     hpg_reserve.csv        store_id_relation.csv
air_visit_data.csv     hpg_store_info.csv

In [3]:
df_ar = pd.read_csv('data/air_reserve.csv')
df_ar.shape

(92378, 4)

In [4]:
df_ar.head(10)

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5
5,air_db80363d35f10926,2016-01-02 01:00:00,2016-01-01 16:00:00,2
6,air_db80363d35f10926,2016-01-02 01:00:00,2016-01-01 15:00:00,4
7,air_3bb99a1fe0583897,2016-01-02 16:00:00,2016-01-02 14:00:00,2
8,air_3bb99a1fe0583897,2016-01-02 16:00:00,2016-01-01 20:00:00,2
9,air_2b8b29ddfd35018e,2016-01-02 17:00:00,2016-01-02 17:00:00,2

**air_reserve.csv**

- air_store_id - the restaurant's id in the air system
- visit_datetime - the time of the reservation
- reserve_datetime - the time the reservation was made
- reserve_visitors - the number of visitors for that reservation

In [50]:
df_hr = pd.read_csv('data/hpg_reserve.csv')
df_hr.shape

(2000320, 4)

In [51]:
df_hr.head(15)

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13
5,hpg_28bdf7a336ec6a7b,2016-01-01 17:00:00,2016-01-01 15:00:00,2
6,hpg_2a01a042bca04ad9,2016-01-01 17:00:00,2016-01-01 17:00:00,2
7,hpg_2a84dd9f4c140b82,2016-01-01 17:00:00,2016-01-01 15:00:00,2
8,hpg_2ad179871696901f,2016-01-01 17:00:00,2016-01-01 13:00:00,2
9,hpg_2c1d989eedb0ff83,2016-01-01 17:00:00,2016-01-01 15:00:00,6
10,hpg_33ec1499d6b13141,2016-01-01 17:00:00,2016-01-01 15:00:00,2
11,hpg_3db9d09c5f93950a,2016-01-01 17:00:00,2016-01-01 16:00:00,2
12,hpg_41b71f51a8f65c1d,2016-01-01 17:00:00,2016-01-01 09:00:00,2
13,hpg_41b71f51a8f65c1d,2016-01-01 17:00:00,2016-01-01 15:00:00,2
14,hpg_4a4bfa8cdf978d5f,2016-01-01 17:00:00,2016-01-01 14:00:00,5

**hpg_reserve**

This file contains reservations made in the hpg system.

- hpg_store_id - the restaurant's id in the hpg system
- visit_datetime - the time of the reservation
- reserve_datetime - the time the reservation was made
- reserve_visitors - the number of visitors for that reservation

In [8]:
df_astore = pd.read_csv('data/air_store_info.csv')
df_astore.shape

(829, 5)

In [9]:
df_astore.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

This file contains information about select air restaurants. Column names and contents are self-explanatory.

- air_store_id
- air_genre_name
- air_area_name
- latitude
- longitude

In [10]:
df_hstore = pd.read_csv('data/hpg_store_info.csv')
df_hstore.shape

(4690, 5)

In [11]:
df_hstore.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

**hpg_store_info.csv**

This file contains information about select hpg restaurants. Column names and contents are self-explanatory.

- hpg_store_id
- hpg_genre_name
- hpg_area_name
- latitude
- longitude

In [12]:
df_storeid = pd.read_csv('data/store_id_relation.csv')
df_storeid.shape

(150, 2)

In [13]:
df_storeid.head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

In [15]:
df_av = pd.read_csv('data/air_visit_data.csv')
df_av.shape

(252108, 3)

In [17]:
df_av.head(15)

            air_store_id  visit_date  visitors
0   air_ba937bf13d40fb24  2016-01-13        25
1   air_ba937bf13d40fb24  2016-01-14        32
2   air_ba937bf13d40fb24  2016-01-15        29
3   air_ba937bf13d40fb24  2016-01-16        22
4   air_ba937bf13d40fb24  2016-01-18         6
5   air_ba937bf13d40fb24  2016-01-19         9
6   air_ba937bf13d40fb24  2016-01-20        31
7   air_ba937bf13d40fb24  2016-01-21        21
8   air_ba937bf13d40fb24  2016-01-22        18
9   air_ba937bf13d40fb24  2016-01-23        26
10  air_ba937bf13d40fb24  2016-01-25        21
11  air_ba937bf13d40fb24  2016-01-26        11
12  air_ba937bf13d40fb24  2016-01-27        24
13  air_ba937bf13d40fb24  2016-01-28        21
14  air_ba937bf13d40fb24  2016-01-29        26

**air_visit_data.csv**

This file contains historical visit data for the air restaurants.

- air_store_id
- visit_date - the date
- visitors - the number of visitors to the restaurant on the date

In [19]:
date_info = pd.read_csv('data/date_info.csv')
date_info.shape

(517, 3)

In [20]:
date_info.head(15)

   calendar_date day_of_week  holiday_flg
0     2016-01-01      Friday            1
1     2016-01-02    Saturday            1
2     2016-01-03      Sunday            1
3     2016-01-04      Monday            0
4     2016-01-05     Tuesday            0
5     2016-01-06   Wednesday            0
6     2016-01-07    Thursday            0
7     2016-01-08      Friday            0
8     2016-01-09    Saturday            0
9     2016-01-10      Sunday            0
10    2016-01-11      Monday            1
11    2016-01-12     Tuesday            0
12    2016-01-13   Wednesday            0
13    2016-01-14    Thursday            0
14    2016-01-15      Friday            0

## Thoughts:

- groupby everyday sum visitors
- calculate average by weekdays, holidays
- time_series?

In [24]:
df_ar.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [27]:
df_ar['visit_date'] = df_ar['visit_datetime'].apply(lambda x: x[:10])

In [31]:
df_ar = df_ar.merge(df_astore, on = 'air_store_id', how='left')
df_ar.head(10)

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors,visit_date,air_genre_name,air_area_name,latitude,longitude
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1,2016-01-01,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3,2016-01-01,Dining bar,Ōsaka-fu Ōsaka-shi Shinmachi,34.676231,135.486059
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6,2016-01-01,Dining bar,Ōsaka-fu Ōsaka-shi Shinmachi,34.676231,135.486059
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2,2016-01-01,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5,2016-01-01,Dining bar,Hokkaidō Asahikawa-shi 6 Jōdōri,43.770635,142.364819
5,air_db80363d35f10926,2016-01-02 01:00:00,2016-01-01 16:00:00,2,2016-01-02,Dining bar,Hokkaidō Asahikawa-shi 6 Jōdōri,43.770635,142.364819
6,air_db80363d35f10926,2016-01-02 01:00:00,2016-01-01 15:00:00,4,2016-01-02,Dining bar,Hokkaidō Asahikawa-shi 6 Jōdōri,43.770635,142.364819
7,air_3bb99a1fe0583897,2016-01-02 16:00:00,2016-01-02 14:00:00,2,2016-01-02,Izakaya,Miyagi-ken Sendai-shi Kamisugi,38.269076,140.870403
8,air_3bb99a1fe0583897,2016-01-02 16:00:00,2016-01-01 20:00:00,2,2016-01-02,Izakaya,Miyagi-ken Sendai-shi Kamisugi,38.269076,140.870403
9,air_2b8b29ddfd35018e,2016-01-02 17:00:00,2016-01-02 17:00:00,2,2016-01-02,Okonomiyaki/Monja/Teppanyaki,Hiroshima-ken Hiroshima-shi Kokutaijimachi,34.386245,132.455018

In [34]:
df_ar_visit = df_ar.groupby(['visit_date','air_store_id','air_genre_name',
                             'air_area_name'])['reserve_visitors'].sum().reset_index()
df_ar_visit

,visit_date,air_store_id,air_genre_name,air_area_name,reserve_visitors
0,2016-01-01,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,3
1,2016-01-01,air_db4b38ebe7a7ceff,Dining bar,Ōsaka-fu Ōsaka-shi Shinmachi,9
2,2016-01-01,air_db80363d35f10926,Dining bar,Hokkaidō Asahikawa-shi 6 Jōdōri,5
3,2016-01-02,air_2b8b29ddfd35018e,Okonomiyaki/Monja/Teppanyaki,Hiroshima-ken Hiroshima-shi Kokutaijimachi,6
4,2016-01-02,air_3bb99a1fe0583897,Izakaya,Miyagi-ken Sendai-shi Kamisugi,4
5,2016-01-02,air_6b15edd1b4fbb96a,Italian/French,Shizuoka-ken Hamamatsu-shi Motoshirochō,11
6,2016-01-02,air_789466e488705c93,Izakaya,Fukuoka-ken Kurume-shi Jōnanmachi,67
7,2016-01-02,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,4
8,2016-01-02,air_db80363d35f10926,Dining bar,Hokkaidō Asahikawa-shi 6 Jōdōri,34
9,2016-01-02,air_f690c42545146e0a,Japanese food,Hokkaidō Sapporo-shi Minami 3 Jōnishi,2
10,2016-01-03,air_326ca454ef3558bc,Izakaya,Shizuoka-ken Shizuoka-shi Ōtemachi,11
11,2016-01-03,air_6b15edd1b4fbb96a,Italian/French,Shizuoka-ken Hamamatsu-shi Motoshirochō,11
12,2016-01-03,air_6c91a28278a16f64,Cafe/Sweets,Fukuoka-ken Fukuoka-shi Daimyō,4
13,2016-01-03,air_a083834e7ffe187e,Izakaya,Miyagi-ken Sendai-shi Kamisugi,4
14,2016-01-03,air_db80363d35f10926,Dining bar,Hokkaidō Asahikawa-shi 6 Jōdōri,17
15,2016-01-03,air_e270aff84ac7e4c8,Okonomiyaki/Monja/Teppanyaki,Hiroshima-ken Hiroshima-shi Kokutaijimachi,6
16,2016-01-04,air_142e78ba7001da9c,Italian/French,Hyōgo-ken Nishinomiya-shi Rokutanjichō,2
17,2016-01-04,air_1653a6c513865af3,Yakiniku/Korean food,Hokkaidō Abashiri-shi Minami 6 Jōhigashi,9
18,2016-01-04,air_24b9b2a020826ede,Japanese food,Fukuoka-ken Kitakyūshū-shi Ōtemachi,7
19,2016-01-04,air_290e7a57b390f78e,Italian/French,Tōkyō-to Minato-ku Shibakōen,13
20,2016-01-04,air_2b8b29ddfd35018e,Okonomiyaki/Monja/Teppanyaki,Hiroshima-ken Hiroshima-shi Kokutaijimachi,5
21,2016-01-04,air_2d3afcb91762fe01,Izakaya,Fukuoka-ken Fukuoka-shi Hakata Ekimae,13
22,2016-01-04,air_326ca454ef3558bc,Izakaya,Shizuoka-ken Shizuoka-shi Ōtemachi,19
23,2016-01-04,air_3bb99a1fe0583897,Izakaya,Miyagi-ken Sendai-shi Kamisugi,5
24,2016-01-04,air_54ed43163b7596c4,Izakaya,Tōkyō-to Chūō-ku Tsukiji,7
25,2016-01-04,air_622375b4815cf5cb,Izakaya,Fukuoka-ken Kitakyūshū-shi None,22
26,2016-01-04,air_6b15edd1b4fbb96a,Italian/French,Shizuoka-ken Hamamatsu-shi Motoshirochō,2
27,2016-01-04,air_6d65542aa43b598b,Italian/French,Shizuoka-ken Hamamatsu-shi Motoshirochō,5
28,2016-01-04,air_789466e488705c93,Izakaya,Fukuoka-ken Kurume-shi Jōnanmachi,4
29,2016-01-04,air_a083834e7ffe187e,Izakaya,Miyagi-ken Sendai-shi Kamisugi,2
...,...,...,...,...,...
29800,2017-05-26,air_97159fc4e90053fe,Izakaya,Hiroshima-ken Hiroshima-shi Kokutaijimachi,2
29801,2017-05-26,air_9d452a881f7f2bb7,Italian/French,Fukuoka-ken Fukuoka-shi Hakata Ekimae,2
29802,2017-05-26,air_b23d0f519291247d,Dining bar,Fukuoka-ken Kitakyūshū-shi Ōtemachi,40
29803,2017-05-26,air_db80363d35f10926,Dining bar,Hokkaidō Asahikawa-shi 6 Jōdōri,32
29804,2017-05-27,air_1707a3f18bb0da07,Izakaya,Hiroshima-ken Hiroshima-shi Kokutaijimachi,14
29805,2017-05-27,air_2c6fef1ce0e13a5a,Italian/French,Hokkaidō Sapporo-shi Minami 3 Jōnishi,5
29806,2017-05-27,air_3cad29d1a23209d2,Japanese food,Tōkyō-to Shibuya-ku Shibuya,3
29807,2017-05-27,air_4092cfbd95a3ac1b,Italian/French,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,47
29808,2017-05-27,air_465bddfed3353b23,Dining bar,Tōkyō-to Shibuya-ku Shibuya,13
29809,2017-05-27,air_63a750d8b4b6a976,Italian/French,Fukuoka-ken Fukuoka-shi Daimyō,3
29810,2017-05-27,air_6b15edd1b4fbb96a,Italian/French,Shizuoka-ken Hamamatsu-shi Motoshirochō,6
29811,2017-05-27,air_707d4b6328f2c2df,Dining bar,Tōkyō-to Shibuya-ku Shibuya,14
29812,2017-05-27,air_9b6af3db40da4ae2,Izakaya,Niigata-ken Nagaoka-shi Ōtedōri,32
29813,2017-05-27,air_b439391e72899756,Italian/French,Tōkyō-to Shibuya-ku Shibuya,8
29814,2017-05-27,air_c0385db498b391e5,Italian/French,Tōkyō-to Shinjuku-ku Kabukichō,6
29815,2017-05-27,air_df554c4527a1cfe6,Izakaya,Shizuoka-ken Hamamatsu-shi Motoshirochō,6
29816,2017-05-27,air_e55abd740f93ecc4,Izakaya,Hyōgo-ken Kakogawa-shi Kakogawachō Kitazaike,30
29817,2017-05-28,air_0867f7bebad6a649,Italian/French,Hiroshima-ken Hiroshima-shi Kokutaijimachi,48
29818,2017-05-28,air_1033310359ceeac1,Izakaya,Tōkyō-to Kōtō-ku Tomioka,4
29819,2017-05-28,air_396166d47733d5c9,Yakiniku/Korean food,Hokkaidō Sapporo-shi Atsubetsuchūō 1 Jō,22
29820,2017-05-28,air_683371d9baabf410,Japanese food,Hyōgo-ken Himeji-shi Yasuda,6
29821,2017-05-28,air_6b15edd1b4fbb96a,Italian/French,Shizuoka-ken Hamamatsu-shi Motoshirochō,16
29822,2017-05-28,air_8093d0b565e9dbdf,Yakiniku/Korean food,Tōkyō-to Chūō-ku Ginza,7
29823,2017-05-28,air_f911308e19d64236,Italian/French,Tōkyō-to Shibuya-ku Shibuya,6
29824,2017-05-29,air_12c4fb7a423df20d,Western food,Tōkyō-to Shibuya-ku Shibuya,9
29825,2017-05-29,air_db4b38ebe7a7ceff,Dining bar,Ōsaka-fu Ōsaka-shi Shinmachi,6
29826,2017-05-30,air_1033310359ceeac1,Izakaya,Tōkyō-to Kōtō-ku Tomioka,8
29827,2017-05-31,air_3cad29d1a23209d2,Japanese food,Tōkyō-to Shibuya-ku Shibuya,3
29828,2017-05-31,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,3
29829,2017-05-31,air_900d755ebd2f7bbd,Italian/French,Tōkyō-to Chūō-ku Ginza,10

In [35]:
df_ar_visit[df_ar_visit.air_store_id == 'air_00a91d42b08b08d9']

,visit_date,air_store_id,air_genre_name,air_area_name,reserve_visitors
5966,2016-10-31,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,2
10379,2016-12-05,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,9
11620,2016-12-14,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,18
12100,2016-12-17,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,2
12554,2016-12-20,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,4
20136,2017-02-18,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,9
20795,2017-02-23,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,12
21601,2017-03-01,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,3
23302,2017-03-14,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,4
24274,2017-03-21,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,3
24666,2017-03-24,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,2
26193,2017-04-04,air_00a91d42b08b08d9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,2

In [40]:
df_ar_visit[df_ar_visit.air_store_id == 'air_877f79706adbfb06']

,visit_date,air_store_id,air_genre_name,air_area_name,reserve_visitors
0,2016-01-01,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,3
7,2016-01-02,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,4
119,2016-01-08,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,7
155,2016-01-09,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,8
231,2016-01-12,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,6
264,2016-01-13,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,8
291,2016-01-14,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,8
324,2016-01-15,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,19
365,2016-01-16,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,8
419,2016-01-18,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,21
448,2016-01-19,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,11
487,2016-01-20,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,12
523,2016-01-21,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,9
560,2016-01-22,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,8
662,2016-01-25,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,16
695,2016-01-26,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,8
727,2016-01-27,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,6
758,2016-01-28,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,10
799,2016-01-29,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,8
838,2016-01-30,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,15
888,2016-02-01,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,6
911,2016-02-02,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,8
942,2016-02-03,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,7
973,2016-02-04,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,17
1014,2016-02-05,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,14
1054,2016-02-06,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,7
1111,2016-02-08,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,12
1139,2016-02-09,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,11
1181,2016-02-10,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,12
1257,2016-02-12,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,12
...,...,...,...,...,...
26257,2017-04-04,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,15
26373,2017-04-05,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,11
26505,2017-04-06,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,15
26656,2017-04-07,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,14
26820,2017-04-08,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,6
27034,2017-04-10,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,15
27136,2017-04-11,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,15
27259,2017-04-12,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,17
27384,2017-04-13,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,7
27534,2017-04-14,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,18
27700,2017-04-15,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,7
27935,2017-04-17,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,6
28043,2017-04-18,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,12
28166,2017-04-19,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,11
28297,2017-04-20,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,16
28456,2017-04-21,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,14
28622,2017-04-22,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,5
28814,2017-04-24,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,5
28897,2017-04-25,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,5
28981,2017-04-26,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,8
29061,2017-04-27,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,5
29153,2017-04-28,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,5
29396,2017-05-02,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,3
29487,2017-05-04,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,3
29587,2017-05-08,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,4
29615,2017-05-10,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,6
29644,2017-05-12,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,5
29752,2017-05-19,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,9
29793,2017-05-25,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,3
29828,2017-05-31,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,3

In [41]:
df_av[df_av.air_store_id == 'air_877f79706adbfb06']

               air_store_id  visit_date  visitors
74720  air_877f79706adbfb06  2016-01-01         3
74721  air_877f79706adbfb06  2016-01-02        12
74722  air_877f79706adbfb06  2016-01-08        17
74723  air_877f79706adbfb06  2016-01-09         8
74724  air_877f79706adbfb06  2016-01-12        15
74725  air_877f79706adbfb06  2016-01-13        17
74726  air_877f79706adbfb06  2016-01-14        15
74727  air_877f79706adbfb06  2016-01-15        19
74728  air_877f79706adbfb06  2016-01-16         8
74729  air_877f79706adbfb06  2016-01-18        25
74730  air_877f79706adbfb06  2016-01-19        11
74731  air_877f79706adbfb06  2016-01-20        12
74732  air_877f79706adbfb06  2016-01-21         9
74733  air_877f79706adbfb06  2016-01-22         8
74734  air_877f79706adbfb06  2016-01-25        16
74735  air_877f79706adbfb06  2016-01-26         9
74736  air_877f79706adbfb06  2016-01-27        12
74737  air_877f79706adbfb06  2016-01-28        10
74738  air_877f79706adbfb06  2016-01-29        10
74739  air_877f79706adbfb06  2016-01-30        15
74740  air_877f79706adbfb06  2016-02-01        11
74741  air_877f79706adbfb06  2016-02-02        10
74742  air_877f79706adbfb06  2016-02-03         7
74743  air_877f79706adbfb06  2016-02-04        17
74744  air_877f79706adbfb06  2016-02-05        14
74745  air_877f79706adbfb06  2016-02-06         7
74746  air_877f79706adbfb06  2016-02-08        12
74747  air_877f79706adbfb06  2016-02-09        11
74748  air_877f79706adbfb06  2016-02-10        15
74749  air_877f79706adbfb06  2016-02-12        12
...                     ...         ...       ...
75073  air_877f79706adbfb06  2017-03-18        16
75074  air_877f79706adbfb06  2017-03-21        14
75075  air_877f79706adbfb06  2017-03-22        17
75076  air_877f79706adbfb06  2017-03-23         9
75077  air_877f79706adbfb06  2017-03-24        13
75078  air_877f79706adbfb06  2017-03-25         6
75079  air_877f79706adbfb06  2017-03-27        12
75080  air_877f79706adbfb06  2017-03-28        10
75081  air_877f79706adbfb06  2017-03-29        14
75082  air_877f79706adbfb06  2017-03-30        17
75083  air_877f79706adbfb06  2017-03-31        13
75084  air_877f79706adbfb06  2017-04-01         6
75085  air_877f79706adbfb06  2017-04-03         4
75086  air_877f79706adbfb06  2017-04-04        15
75087  air_877f79706adbfb06  2017-04-05        11
75088  air_877f79706adbfb06  2017-04-06        15
75089  air_877f79706adbfb06  2017-04-07        14
75090  air_877f79706adbfb06  2017-04-08         6
75091  air_877f79706adbfb06  2017-04-10        15
75092  air_877f79706adbfb06  2017-04-11        15
75093  air_877f79706adbfb06  2017-04-12        17
75094  air_877f79706adbfb06  2017-04-13        13
75095  air_877f79706adbfb06  2017-04-14        18
75096  air_877f79706adbfb06  2017-04-15         7
75097  air_877f79706adbfb06  2017-04-17         6
75098  air_877f79706adbfb06  2017-04-18        12
75099  air_877f79706adbfb06  2017-04-19        11
75100  air_877f79706adbfb06  2017-04-20        17
75101  air_877f79706adbfb06  2017-04-21        14
75102  air_877f79706adbfb06  2017-04-22         5

[383 rows x 3 columns]

In [52]:
df_hr['visit_date'] = df_hr['visit_datetime'].apply(lambda x: x[:10])
df_hr.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,visit_date
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1,2016-01-01
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3,2016-01-01
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2,2016-01-01
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5,2016-01-01
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13,2016-01-01

In [61]:
df_hr_visit = df_hr.groupby(['hpg_store_id','visit_date'])['reserve_visitors'].sum().reset_index()
df_hr_visit.head()

           hpg_store_id  visit_date  reserve_visitors
0  hpg_001112ef76b9802c  2016-02-26                 9
1  hpg_001112ef76b9802c  2016-03-17                 3
2  hpg_001112ef76b9802c  2016-03-31                 5
3  hpg_001112ef76b9802c  2016-04-05                13
4  hpg_001112ef76b9802c  2016-04-18                 9

In [62]:
df_hr_visit = df_hr_visit.merge(df_hstore, on = 'hpg_store_id', how='left')
df_hr_visit.head(10)

,hpg_store_id,visit_date,reserve_visitors,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_001112ef76b9802c,2016-02-26,9,NaN,NaN,NaN,NaN
1,hpg_001112ef76b9802c,2016-03-17,3,NaN,NaN,NaN,NaN
2,hpg_001112ef76b9802c,2016-03-31,5,NaN,NaN,NaN,NaN
3,hpg_001112ef76b9802c,2016-04-05,13,NaN,NaN,NaN,NaN
4,hpg_001112ef76b9802c,2016-04-18,9,NaN,NaN,NaN,NaN
5,hpg_001112ef76b9802c,2016-07-05,3,NaN,NaN,NaN,NaN
6,hpg_001112ef76b9802c,2016-07-14,5,NaN,NaN,NaN,NaN
7,hpg_001112ef76b9802c,2016-07-21,3,NaN,NaN,NaN,NaN
8,hpg_001112ef76b9802c,2016-07-26,3,NaN,NaN,NaN,NaN
9,hpg_001112ef76b9802c,2016-07-28,3,NaN,NaN,NaN,NaN

In [63]:
df_hr_visit = df_hr_visit.merge(df_storeid, on = 'hpg_store_id', how = 'left')
df_hr_visit.head(15)

,hpg_store_id,visit_date,reserve_visitors,hpg_genre_name,hpg_area_name,latitude,longitude,air_store_id
0,hpg_001112ef76b9802c,2016-02-26,9,NaN,NaN,NaN,NaN,NaN
1,hpg_001112ef76b9802c,2016-03-17,3,NaN,NaN,NaN,NaN,NaN
2,hpg_001112ef76b9802c,2016-03-31,5,NaN,NaN,NaN,NaN,NaN
3,hpg_001112ef76b9802c,2016-04-05,13,NaN,NaN,NaN,NaN,NaN
4,hpg_001112ef76b9802c,2016-04-18,9,NaN,NaN,NaN,NaN,NaN
5,hpg_001112ef76b9802c,2016-07-05,3,NaN,NaN,NaN,NaN,NaN
6,hpg_001112ef76b9802c,2016-07-14,5,NaN,NaN,NaN,NaN,NaN
7,hpg_001112ef76b9802c,2016-07-21,3,NaN,NaN,NaN,NaN,NaN
8,hpg_001112ef76b9802c,2016-07-26,3,NaN,NaN,NaN,NaN,NaN
9,hpg_001112ef76b9802c,2016-07-28,3,NaN,NaN,NaN,NaN,NaN
10,hpg_001112ef76b9802c,2016-08-04,3,NaN,NaN,NaN,NaN,NaN
11,hpg_001112ef76b9802c,2016-08-23,6,NaN,NaN,NaN,NaN,NaN
12,hpg_001112ef76b9802c,2016-09-07,5,NaN,NaN,NaN,NaN,NaN
13,hpg_001112ef76b9802c,2016-09-23,4,NaN,NaN,NaN,NaN,NaN
14,hpg_001112ef76b9802c,2016-09-26,3,NaN,NaN,NaN,NaN,NaN

In [65]:
df_hr_visit.shape

(1355053, 8)

In [64]:
df_hr_visit.isnull().sum()

hpg_store_id              0
visit_date                0
reserve_visitors          0
hpg_genre_name       793944
hpg_area_name        793944
latitude             793944
longitude            793944
air_store_id        1336433
dtype: int64

In [82]:
df_hr_visit = df_hr_visit[df_hr_visit.air_store_id.notnull()]
df_hr_visit.head(20)

,hpg_store_id,visit_date,reserve_visitors,hpg_genre_name,hpg_area_name,latitude,longitude,air_store_id
8717,hpg_0183ec352e38903c,2016-01-09,2,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8718,hpg_0183ec352e38903c,2016-01-11,8,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8719,hpg_0183ec352e38903c,2016-01-14,11,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8720,hpg_0183ec352e38903c,2016-01-15,8,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8721,hpg_0183ec352e38903c,2016-01-18,9,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8722,hpg_0183ec352e38903c,2016-01-28,9,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8723,hpg_0183ec352e38903c,2016-02-10,5,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8724,hpg_0183ec352e38903c,2016-02-12,2,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8725,hpg_0183ec352e38903c,2016-02-13,7,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8726,hpg_0183ec352e38903c,2016-02-21,2,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8727,hpg_0183ec352e38903c,2016-02-26,2,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8728,hpg_0183ec352e38903c,2016-02-28,5,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8729,hpg_0183ec352e38903c,2016-03-11,2,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8730,hpg_0183ec352e38903c,2016-03-14,3,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8731,hpg_0183ec352e38903c,2016-03-22,2,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8732,hpg_0183ec352e38903c,2016-03-25,5,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8733,hpg_0183ec352e38903c,2017-03-04,5,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8734,hpg_0183ec352e38903c,2017-03-10,4,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8735,hpg_0183ec352e38903c,2017-03-11,3,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8736,hpg_0183ec352e38903c,2017-03-17,7,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f

In [76]:
df_storeid[df_storeid.air_store_id == 'air_cbe867adcf44e14f']

             air_store_id          hpg_store_id
134  air_cbe867adcf44e14f  hpg_0183ec352e38903c

In [74]:
df_ar_visit[df_ar_visit.air_store_id == 'air_cbe867adcf44e14f']

,visit_date,air_store_id,air_genre_name,air_area_name,reserve_visitors
21969,2017-03-03,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,7
22129,2017-03-04,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,34
22887,2017-03-10,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,10
23053,2017-03-11,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,28
23282,2017-03-13,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,8
23851,2017-03-17,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,41
24007,2017-03-18,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,13
24151,2017-03-19,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,3
24249,2017-03-20,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,4
24495,2017-03-22,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,2
24809,2017-03-24,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,24
24977,2017-03-25,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,36
25219,2017-03-27,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,16
25358,2017-03-28,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,13
25815,2017-03-31,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,23
25965,2017-04-01,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,12
26405,2017-04-05,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,4
26696,2017-04-07,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,25
27168,2017-04-11,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,2
27290,2017-04-12,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,7
27419,2017-04-13,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,5
27581,2017-04-14,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,20
27745,2017-04-15,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,15
27861,2017-04-16,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,15
28330,2017-04-20,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,6
28498,2017-04-21,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,13
28665,2017-04-22,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,11
29080,2017-04-27,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,20
29185,2017-04-28,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,20
29757,2017-05-19,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,2

In [79]:
len(df_ar_visit.air_store_id.unique())
len(df_ar_visit.air_area_name.unique())

71

In [80]:
df_ar_visit.air_area_name.unique()

array(['Tōkyō-to Minato-ku Shibakōen', 'Ōsaka-fu Ōsaka-shi Shinmachi',
       'Hokkaidō Asahikawa-shi 6 Jōdōri',
       'Hiroshima-ken Hiroshima-shi Kokutaijimachi',
       'Miyagi-ken Sendai-shi Kamisugi',
       'Shizuoka-ken Hamamatsu-shi Motoshirochō',
       'Fukuoka-ken Kurume-shi Jōnanmachi',
       'Hokkaidō Sapporo-shi Minami 3 Jōnishi',
       'Shizuoka-ken Shizuoka-shi Ōtemachi',
       'Fukuoka-ken Fukuoka-shi Daimyō',
       'Hyōgo-ken Nishinomiya-shi Rokutanjichō',
       'Hokkaidō Abashiri-shi Minami 6 Jōhigashi',
       'Fukuoka-ken Kitakyūshū-shi Ōtemachi',
       'Fukuoka-ken Fukuoka-shi Hakata Ekimae',
       'Tōkyō-to Chūō-ku Tsukiji', 'Fukuoka-ken Kitakyūshū-shi None',
       'Tōkyō-to Shibuya-ku Shibuya', 'Ōsaka-fu Ōsaka-shi Kyūtarōmachi',
       'Tōkyō-to Itabashi-ku Itabashi', 'Tōkyō-to Taitō-ku Higashiueno',
       'Hyōgo-ken Kakogawa-shi Kakogawachō Kitazaike',
       'Tōkyō-to Chūō-ku Ginza',
       'Hiroshima-ken Fukuyama-shi Higashisakuramachi',
       'Tōkyō-to Suginami-ku Asagayaminami',
       'Niigata-ken Niigata-shi Gakkōchōdōri 1 Banchō',
       'Tōkyō-to Kōtō-ku Kameido', 'Hokkaidō Sapporo-shi Kotoni 2 Jō',
       'Hiroshima-ken Hiroshima-shi Nagarekawachō',
       'Fukuoka-ken Yame-shi Motomachi', 'Tōkyō-to Toshima-ku Mejiro',
       'Hyōgo-ken Kōbe-shi Kumoidōri', 'Tōkyō-to Kōtō-ku Tōyō',
       'Ōsaka-fu Ōsaka-shi Ōgimachi', 'Tōkyō-to Chiyoda-ku Kudanminami',
       'Tōkyō-to Toshima-ku Nishiikebukuro', 'Tōkyō-to Meguro-ku Takaban',
       'Tōkyō-to Shinjuku-ku Kabukichō',
       'Tōkyō-to Katsushika-ku Tateishi',
       'Tōkyō-to Musashino-shi Midorichō', 'Hyōgo-ken Himeji-shi Yasuda',
       'Tōkyō-to Shibuya-ku Dōgenzaka', 'Tōkyō-to Meguro-ku Kamimeguro',
       'Tōkyō-to Machida-shi Morino', 'Tōkyō-to Kōtō-ku Tomioka',
       'Fukuoka-ken Fukuoka-shi Shiobaru',
       'Hokkaidō Sapporo-shi Atsubetsuchūō 1 Jō',
       'Tōkyō-to Tachikawa-shi Izumichō',
       'Hyōgo-ken Takarazuka-shi Tōyōchō',
       'Tōkyō-to Shinagawa-ku Hiromachi', 'Tōkyō-to Setagaya-ku Okusawa',
       'Tōkyō-to Ōta-ku Kamata', 'Fukuoka-ken Fukuoka-shi Momochi',
       'Niigata-ken Nagaoka-shi Ōtedōri',
       'Niigata-ken Niigata-shi Teraohigashi',
       'Tōkyō-to Minato-ku Akasaka', 'Ōsaka-fu Ōsaka-shi Kyōmachibori',
       'Hokkaidō Sapporo-shi Kita 24 Jōnishi',
       'Fukuoka-ken Fukuoka-shi Takatori', 'Tōkyō-to Edogawa-ku Chūō',
       'Ōsaka-fu Ōsaka-shi Ōhiraki',
       'Ōsaka-fu Higashiōsaka-shi Aramotokita',
       'Hyōgo-ken Kōbe-shi Motomachidōri',
       'Tōkyō-to Setagaya-ku Setagaya', 'Tōkyō-to Nerima-ku Toyotamakita',
       'Tōkyō-to Toshima-ku Minamiikebukuro',
       'Tōkyō-to Chiyoda-ku Kanda Jinbōchō',
       'Ōsaka-fu Ōsaka-shi Nanbasennichimae', 'Tōkyō-to Nakano-ku Nakano',
       'Hyōgo-ken Amagasaki-shi Higashinanamatsuchō',
       'Tōkyō-to Taitō-ku Asakusa', 'Tōkyō-to Shinjuku-ku Nishishinjuku'],
      dtype=object)

## TODO

- Why df_ar_visit does not have lan and long?
- Why hpg has different name from air?
- How to merge two tables?