In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
ls data

air_reserve.csv        date_info.csv          sample_submission.csv
air_store_info.csv     hpg_reserve.csv        store_id_relation.csv
air_visit_data.csv     hpg_store_info.csv

In [86]:
df_ar = pd.read_csv('data/air_reserve.csv')
df_ar.shape

(92378, 4)

In [4]:
df_ar.head(10)

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5
5,air_db80363d35f10926,2016-01-02 01:00:00,2016-01-01 16:00:00,2
6,air_db80363d35f10926,2016-01-02 01:00:00,2016-01-01 15:00:00,4
7,air_3bb99a1fe0583897,2016-01-02 16:00:00,2016-01-02 14:00:00,2
8,air_3bb99a1fe0583897,2016-01-02 16:00:00,2016-01-01 20:00:00,2
9,air_2b8b29ddfd35018e,2016-01-02 17:00:00,2016-01-02 17:00:00,2

**air_reserve.csv**

- air_store_id - the restaurant's id in the air system
- visit_datetime - the time of the reservation
- reserve_datetime - the time the reservation was made
- reserve_visitors - the number of visitors for that reservation

In [50]:
df_hr = pd.read_csv('data/hpg_reserve.csv')
df_hr.shape

(2000320, 4)

In [51]:
df_hr.head(15)

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13
5,hpg_28bdf7a336ec6a7b,2016-01-01 17:00:00,2016-01-01 15:00:00,2
6,hpg_2a01a042bca04ad9,2016-01-01 17:00:00,2016-01-01 17:00:00,2
7,hpg_2a84dd9f4c140b82,2016-01-01 17:00:00,2016-01-01 15:00:00,2
8,hpg_2ad179871696901f,2016-01-01 17:00:00,2016-01-01 13:00:00,2
9,hpg_2c1d989eedb0ff83,2016-01-01 17:00:00,2016-01-01 15:00:00,6
10,hpg_33ec1499d6b13141,2016-01-01 17:00:00,2016-01-01 15:00:00,2
11,hpg_3db9d09c5f93950a,2016-01-01 17:00:00,2016-01-01 16:00:00,2
12,hpg_41b71f51a8f65c1d,2016-01-01 17:00:00,2016-01-01 09:00:00,2
13,hpg_41b71f51a8f65c1d,2016-01-01 17:00:00,2016-01-01 15:00:00,2
14,hpg_4a4bfa8cdf978d5f,2016-01-01 17:00:00,2016-01-01 14:00:00,5

**hpg_reserve**

This file contains reservations made in the hpg system.

- hpg_store_id - the restaurant's id in the hpg system
- visit_datetime - the time of the reservation
- reserve_datetime - the time the reservation was made
- reserve_visitors - the number of visitors for that reservation

In [8]:
df_astore = pd.read_csv('data/air_store_info.csv')
df_astore.shape

(829, 5)

In [9]:
df_astore.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

This file contains information about select air restaurants. Column names and contents are self-explanatory.

- air_store_id
- air_genre_name
- air_area_name
- latitude
- longitude

In [10]:
df_hstore = pd.read_csv('data/hpg_store_info.csv')
df_hstore.shape

(4690, 5)

In [11]:
df_hstore.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

**hpg_store_info.csv**

This file contains information about select hpg restaurants. Column names and contents are self-explanatory.

- hpg_store_id
- hpg_genre_name
- hpg_area_name
- latitude
- longitude

In [12]:
df_storeid = pd.read_csv('data/store_id_relation.csv')
df_storeid.shape

(150, 2)

In [13]:
df_storeid.head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

In [15]:
df_av = pd.read_csv('data/air_visit_data.csv')
df_av.shape

(252108, 3)

In [17]:
df_av.head(15)

            air_store_id  visit_date  visitors
0   air_ba937bf13d40fb24  2016-01-13        25
1   air_ba937bf13d40fb24  2016-01-14        32
2   air_ba937bf13d40fb24  2016-01-15        29
3   air_ba937bf13d40fb24  2016-01-16        22
4   air_ba937bf13d40fb24  2016-01-18         6
5   air_ba937bf13d40fb24  2016-01-19         9
6   air_ba937bf13d40fb24  2016-01-20        31
7   air_ba937bf13d40fb24  2016-01-21        21
8   air_ba937bf13d40fb24  2016-01-22        18
9   air_ba937bf13d40fb24  2016-01-23        26
10  air_ba937bf13d40fb24  2016-01-25        21
11  air_ba937bf13d40fb24  2016-01-26        11
12  air_ba937bf13d40fb24  2016-01-27        24
13  air_ba937bf13d40fb24  2016-01-28        21
14  air_ba937bf13d40fb24  2016-01-29        26

**air_visit_data.csv**

This file contains historical visit data for the air restaurants.

- air_store_id
- visit_date - the date
- visitors - the number of visitors to the restaurant on the date

In [19]:
date_info = pd.read_csv('data/date_info.csv')
date_info.shape

(517, 3)

In [20]:
date_info.head(15)

   calendar_date day_of_week  holiday_flg
0     2016-01-01      Friday            1
1     2016-01-02    Saturday            1
2     2016-01-03      Sunday            1
3     2016-01-04      Monday            0
4     2016-01-05     Tuesday            0
5     2016-01-06   Wednesday            0
6     2016-01-07    Thursday            0
7     2016-01-08      Friday            0
8     2016-01-09    Saturday            0
9     2016-01-10      Sunday            0
10    2016-01-11      Monday            1
11    2016-01-12     Tuesday            0
12    2016-01-13   Wednesday            0
13    2016-01-14    Thursday            0
14    2016-01-15      Friday            0

## Thoughts:

- groupby everyday sum visitors
- calculate average by weekdays, holidays
- time_series?

In [87]:
df_ar.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [88]:
df_ar['visit_date'] = df_ar['visit_datetime'].apply(lambda x: x[:10])

In [89]:
df_ar_visit = df_ar.groupby(['air_store_id','visit_date'])['reserve_visitors'].sum().reset_index()
df_ar_visit.head()

           air_store_id  visit_date  reserve_visitors
0  air_00a91d42b08b08d9  2016-10-31                 2
1  air_00a91d42b08b08d9  2016-12-05                 9
2  air_00a91d42b08b08d9  2016-12-14                18
3  air_00a91d42b08b08d9  2016-12-17                 2
4  air_00a91d42b08b08d9  2016-12-20                 4

In [90]:
df_ar_visit = df_ar_visit.merge(df_astore, on = 'air_store_id', how='left')
df_ar_visit.head(10)

,air_store_id,visit_date,reserve_visitors,air_genre_name,air_area_name,latitude,longitude
0,air_00a91d42b08b08d9,2016-10-31,2,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
1,air_00a91d42b08b08d9,2016-12-05,9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
2,air_00a91d42b08b08d9,2016-12-14,18,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
3,air_00a91d42b08b08d9,2016-12-17,2,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
4,air_00a91d42b08b08d9,2016-12-20,4,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
5,air_00a91d42b08b08d9,2017-02-18,9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
6,air_00a91d42b08b08d9,2017-02-23,12,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
7,air_00a91d42b08b08d9,2017-03-01,3,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
8,air_00a91d42b08b08d9,2017-03-14,4,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
9,air_00a91d42b08b08d9,2017-03-21,3,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595

In [91]:
df_ar_visit[df_ar_visit.air_store_id == 'air_00a91d42b08b08d9']

,air_store_id,visit_date,reserve_visitors,air_genre_name,air_area_name,latitude,longitude
0,air_00a91d42b08b08d9,2016-10-31,2,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
1,air_00a91d42b08b08d9,2016-12-05,9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
2,air_00a91d42b08b08d9,2016-12-14,18,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
3,air_00a91d42b08b08d9,2016-12-17,2,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
4,air_00a91d42b08b08d9,2016-12-20,4,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
5,air_00a91d42b08b08d9,2017-02-18,9,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
6,air_00a91d42b08b08d9,2017-02-23,12,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
7,air_00a91d42b08b08d9,2017-03-01,3,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
8,air_00a91d42b08b08d9,2017-03-14,4,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
9,air_00a91d42b08b08d9,2017-03-21,3,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
10,air_00a91d42b08b08d9,2017-03-24,2,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595
11,air_00a91d42b08b08d9,2017-04-04,2,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595

In [93]:
df_ar_visit[df_ar_visit.air_store_id == 'air_877f79706adbfb06']

,air_store_id,visit_date,reserve_visitors,air_genre_name,air_area_name,latitude,longitude
17145,air_877f79706adbfb06,2016-01-01,3,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17146,air_877f79706adbfb06,2016-01-02,4,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17147,air_877f79706adbfb06,2016-01-08,7,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17148,air_877f79706adbfb06,2016-01-09,8,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17149,air_877f79706adbfb06,2016-01-12,6,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17150,air_877f79706adbfb06,2016-01-13,8,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17151,air_877f79706adbfb06,2016-01-14,8,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17152,air_877f79706adbfb06,2016-01-15,19,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17153,air_877f79706adbfb06,2016-01-16,8,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17154,air_877f79706adbfb06,2016-01-18,21,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17155,air_877f79706adbfb06,2016-01-19,11,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17156,air_877f79706adbfb06,2016-01-20,12,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17157,air_877f79706adbfb06,2016-01-21,9,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17158,air_877f79706adbfb06,2016-01-22,8,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17159,air_877f79706adbfb06,2016-01-25,16,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17160,air_877f79706adbfb06,2016-01-26,8,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17161,air_877f79706adbfb06,2016-01-27,6,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17162,air_877f79706adbfb06,2016-01-28,10,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17163,air_877f79706adbfb06,2016-01-29,8,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17164,air_877f79706adbfb06,2016-01-30,15,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17165,air_877f79706adbfb06,2016-02-01,6,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17166,air_877f79706adbfb06,2016-02-02,8,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17167,air_877f79706adbfb06,2016-02-03,7,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17168,air_877f79706adbfb06,2016-02-04,17,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17169,air_877f79706adbfb06,2016-02-05,14,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17170,air_877f79706adbfb06,2016-02-06,7,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17171,air_877f79706adbfb06,2016-02-08,12,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17172,air_877f79706adbfb06,2016-02-09,11,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17173,air_877f79706adbfb06,2016-02-10,12,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17174,air_877f79706adbfb06,2016-02-12,12,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
...,...,...,...,...,...,...,...
17374,air_877f79706adbfb06,2017-04-04,15,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17375,air_877f79706adbfb06,2017-04-05,11,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17376,air_877f79706adbfb06,2017-04-06,15,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17377,air_877f79706adbfb06,2017-04-07,14,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17378,air_877f79706adbfb06,2017-04-08,6,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17379,air_877f79706adbfb06,2017-04-10,15,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17380,air_877f79706adbfb06,2017-04-11,15,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17381,air_877f79706adbfb06,2017-04-12,17,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17382,air_877f79706adbfb06,2017-04-13,7,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17383,air_877f79706adbfb06,2017-04-14,18,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17384,air_877f79706adbfb06,2017-04-15,7,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17385,air_877f79706adbfb06,2017-04-17,6,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17386,air_877f79706adbfb06,2017-04-18,12,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17387,air_877f79706adbfb06,2017-04-19,11,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17388,air_877f79706adbfb06,2017-04-20,16,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17389,air_877f79706adbfb06,2017-04-21,14,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17390,air_877f79706adbfb06,2017-04-22,5,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17391,air_877f79706adbfb06,2017-04-24,5,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17392,air_877f79706adbfb06,2017-04-25,5,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17393,air_877f79706adbfb06,2017-04-26,8,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17394,air_877f79706adbfb06,2017-04-27,5,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17395,air_877f79706adbfb06,2017-04-28,5,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17396,air_877f79706adbfb06,2017-05-02,3,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17397,air_877f79706adbfb06,2017-05-04,3,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17398,air_877f79706adbfb06,2017-05-08,4,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17399,air_877f79706adbfb06,2017-05-10,6,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17400,air_877f79706adbfb06,2017-05-12,5,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17401,air_877f79706adbfb06,2017-05-19,9,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17402,air_877f79706adbfb06,2017-05-25,3,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
17403,air_877f79706adbfb06,2017-05-31,3,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [94]:
df_av[df_av.air_store_id == 'air_877f79706adbfb06']

               air_store_id  visit_date  visitors
74720  air_877f79706adbfb06  2016-01-01         3
74721  air_877f79706adbfb06  2016-01-02        12
74722  air_877f79706adbfb06  2016-01-08        17
74723  air_877f79706adbfb06  2016-01-09         8
74724  air_877f79706adbfb06  2016-01-12        15
74725  air_877f79706adbfb06  2016-01-13        17
74726  air_877f79706adbfb06  2016-01-14        15
74727  air_877f79706adbfb06  2016-01-15        19
74728  air_877f79706adbfb06  2016-01-16         8
74729  air_877f79706adbfb06  2016-01-18        25
74730  air_877f79706adbfb06  2016-01-19        11
74731  air_877f79706adbfb06  2016-01-20        12
74732  air_877f79706adbfb06  2016-01-21         9
74733  air_877f79706adbfb06  2016-01-22         8
74734  air_877f79706adbfb06  2016-01-25        16
74735  air_877f79706adbfb06  2016-01-26         9
74736  air_877f79706adbfb06  2016-01-27        12
74737  air_877f79706adbfb06  2016-01-28        10
74738  air_877f79706adbfb06  2016-01-29        10
74739  air_877f79706adbfb06  2016-01-30        15
74740  air_877f79706adbfb06  2016-02-01        11
74741  air_877f79706adbfb06  2016-02-02        10
74742  air_877f79706adbfb06  2016-02-03         7
74743  air_877f79706adbfb06  2016-02-04        17
74744  air_877f79706adbfb06  2016-02-05        14
74745  air_877f79706adbfb06  2016-02-06         7
74746  air_877f79706adbfb06  2016-02-08        12
74747  air_877f79706adbfb06  2016-02-09        11
74748  air_877f79706adbfb06  2016-02-10        15
74749  air_877f79706adbfb06  2016-02-12        12
...                     ...         ...       ...
75073  air_877f79706adbfb06  2017-03-18        16
75074  air_877f79706adbfb06  2017-03-21        14
75075  air_877f79706adbfb06  2017-03-22        17
75076  air_877f79706adbfb06  2017-03-23         9
75077  air_877f79706adbfb06  2017-03-24        13
75078  air_877f79706adbfb06  2017-03-25         6
75079  air_877f79706adbfb06  2017-03-27        12
75080  air_877f79706adbfb06  2017-03-28        10
75081  air_877f79706adbfb06  2017-03-29        14
75082  air_877f79706adbfb06  2017-03-30        17
75083  air_877f79706adbfb06  2017-03-31        13
75084  air_877f79706adbfb06  2017-04-01         6
75085  air_877f79706adbfb06  2017-04-03         4
75086  air_877f79706adbfb06  2017-04-04        15
75087  air_877f79706adbfb06  2017-04-05        11
75088  air_877f79706adbfb06  2017-04-06        15
75089  air_877f79706adbfb06  2017-04-07        14
75090  air_877f79706adbfb06  2017-04-08         6
75091  air_877f79706adbfb06  2017-04-10        15
75092  air_877f79706adbfb06  2017-04-11        15
75093  air_877f79706adbfb06  2017-04-12        17
75094  air_877f79706adbfb06  2017-04-13        13
75095  air_877f79706adbfb06  2017-04-14        18
75096  air_877f79706adbfb06  2017-04-15         7
75097  air_877f79706adbfb06  2017-04-17         6
75098  air_877f79706adbfb06  2017-04-18        12
75099  air_877f79706adbfb06  2017-04-19        11
75100  air_877f79706adbfb06  2017-04-20        17
75101  air_877f79706adbfb06  2017-04-21        14
75102  air_877f79706adbfb06  2017-04-22         5

[383 rows x 3 columns]

In [95]:
df_hr['visit_date'] = df_hr['visit_datetime'].apply(lambda x: x[:10])
df_hr.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,visit_date
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1,2016-01-01
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3,2016-01-01
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2,2016-01-01
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5,2016-01-01
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13,2016-01-01

In [96]:
df_hr_visit = df_hr.groupby(['hpg_store_id','visit_date'])['reserve_visitors'].sum().reset_index()
df_hr_visit.head()

           hpg_store_id  visit_date  reserve_visitors
0  hpg_001112ef76b9802c  2016-02-26                 9
1  hpg_001112ef76b9802c  2016-03-17                 3
2  hpg_001112ef76b9802c  2016-03-31                 5
3  hpg_001112ef76b9802c  2016-04-05                13
4  hpg_001112ef76b9802c  2016-04-18                 9

In [97]:
df_hr_visit = df_hr_visit.merge(df_hstore, on = 'hpg_store_id', how='left')
df_hr_visit.head(10)

,hpg_store_id,visit_date,reserve_visitors,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_001112ef76b9802c,2016-02-26,9,NaN,NaN,NaN,NaN
1,hpg_001112ef76b9802c,2016-03-17,3,NaN,NaN,NaN,NaN
2,hpg_001112ef76b9802c,2016-03-31,5,NaN,NaN,NaN,NaN
3,hpg_001112ef76b9802c,2016-04-05,13,NaN,NaN,NaN,NaN
4,hpg_001112ef76b9802c,2016-04-18,9,NaN,NaN,NaN,NaN
5,hpg_001112ef76b9802c,2016-07-05,3,NaN,NaN,NaN,NaN
6,hpg_001112ef76b9802c,2016-07-14,5,NaN,NaN,NaN,NaN
7,hpg_001112ef76b9802c,2016-07-21,3,NaN,NaN,NaN,NaN
8,hpg_001112ef76b9802c,2016-07-26,3,NaN,NaN,NaN,NaN
9,hpg_001112ef76b9802c,2016-07-28,3,NaN,NaN,NaN,NaN

In [98]:
df_hr_visit = df_hr_visit.merge(df_storeid, on = 'hpg_store_id', how = 'left')
df_hr_visit.head(15)

,hpg_store_id,visit_date,reserve_visitors,hpg_genre_name,hpg_area_name,latitude,longitude,air_store_id
0,hpg_001112ef76b9802c,2016-02-26,9,NaN,NaN,NaN,NaN,NaN
1,hpg_001112ef76b9802c,2016-03-17,3,NaN,NaN,NaN,NaN,NaN
2,hpg_001112ef76b9802c,2016-03-31,5,NaN,NaN,NaN,NaN,NaN
3,hpg_001112ef76b9802c,2016-04-05,13,NaN,NaN,NaN,NaN,NaN
4,hpg_001112ef76b9802c,2016-04-18,9,NaN,NaN,NaN,NaN,NaN
5,hpg_001112ef76b9802c,2016-07-05,3,NaN,NaN,NaN,NaN,NaN
6,hpg_001112ef76b9802c,2016-07-14,5,NaN,NaN,NaN,NaN,NaN
7,hpg_001112ef76b9802c,2016-07-21,3,NaN,NaN,NaN,NaN,NaN
8,hpg_001112ef76b9802c,2016-07-26,3,NaN,NaN,NaN,NaN,NaN
9,hpg_001112ef76b9802c,2016-07-28,3,NaN,NaN,NaN,NaN,NaN
10,hpg_001112ef76b9802c,2016-08-04,3,NaN,NaN,NaN,NaN,NaN
11,hpg_001112ef76b9802c,2016-08-23,6,NaN,NaN,NaN,NaN,NaN
12,hpg_001112ef76b9802c,2016-09-07,5,NaN,NaN,NaN,NaN,NaN
13,hpg_001112ef76b9802c,2016-09-23,4,NaN,NaN,NaN,NaN,NaN
14,hpg_001112ef76b9802c,2016-09-26,3,NaN,NaN,NaN,NaN,NaN

In [99]:
df_hr_visit.shape

(1355053, 8)

In [100]:
df_hr_visit.isnull().sum()

hpg_store_id              0
visit_date                0
reserve_visitors          0
hpg_genre_name       793944
hpg_area_name        793944
latitude             793944
longitude            793944
air_store_id        1336433
dtype: int64

In [101]:
df_hr_visit = df_hr_visit[df_hr_visit.air_store_id.notnull()]
df_hr_visit.head(20)

,hpg_store_id,visit_date,reserve_visitors,hpg_genre_name,hpg_area_name,latitude,longitude,air_store_id
8717,hpg_0183ec352e38903c,2016-01-09,2,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8718,hpg_0183ec352e38903c,2016-01-11,8,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8719,hpg_0183ec352e38903c,2016-01-14,11,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8720,hpg_0183ec352e38903c,2016-01-15,8,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8721,hpg_0183ec352e38903c,2016-01-18,9,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8722,hpg_0183ec352e38903c,2016-01-28,9,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8723,hpg_0183ec352e38903c,2016-02-10,5,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8724,hpg_0183ec352e38903c,2016-02-12,2,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8725,hpg_0183ec352e38903c,2016-02-13,7,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8726,hpg_0183ec352e38903c,2016-02-21,2,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8727,hpg_0183ec352e38903c,2016-02-26,2,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8728,hpg_0183ec352e38903c,2016-02-28,5,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8729,hpg_0183ec352e38903c,2016-03-11,2,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8730,hpg_0183ec352e38903c,2016-03-14,3,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8731,hpg_0183ec352e38903c,2016-03-22,2,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8732,hpg_0183ec352e38903c,2016-03-25,5,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8733,hpg_0183ec352e38903c,2017-03-04,5,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8734,hpg_0183ec352e38903c,2017-03-10,4,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8735,hpg_0183ec352e38903c,2017-03-11,3,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f
8736,hpg_0183ec352e38903c,2017-03-17,7,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425,air_cbe867adcf44e14f

In [102]:
df_storeid[df_storeid.air_store_id == 'air_cbe867adcf44e14f']

             air_store_id          hpg_store_id
134  air_cbe867adcf44e14f  hpg_0183ec352e38903c

In [103]:
df_ar_visit[df_ar_visit.air_store_id == 'air_cbe867adcf44e14f']

,air_store_id,visit_date,reserve_visitors,air_genre_name,air_area_name,latitude,longitude
24578,air_cbe867adcf44e14f,2017-03-03,7,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24579,air_cbe867adcf44e14f,2017-03-04,34,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24580,air_cbe867adcf44e14f,2017-03-10,10,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24581,air_cbe867adcf44e14f,2017-03-11,28,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24582,air_cbe867adcf44e14f,2017-03-13,8,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24583,air_cbe867adcf44e14f,2017-03-17,41,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24584,air_cbe867adcf44e14f,2017-03-18,13,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24585,air_cbe867adcf44e14f,2017-03-19,3,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24586,air_cbe867adcf44e14f,2017-03-20,4,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24587,air_cbe867adcf44e14f,2017-03-22,2,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24588,air_cbe867adcf44e14f,2017-03-24,24,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24589,air_cbe867adcf44e14f,2017-03-25,36,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24590,air_cbe867adcf44e14f,2017-03-27,16,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24591,air_cbe867adcf44e14f,2017-03-28,13,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24592,air_cbe867adcf44e14f,2017-03-31,23,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24593,air_cbe867adcf44e14f,2017-04-01,12,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24594,air_cbe867adcf44e14f,2017-04-05,4,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24595,air_cbe867adcf44e14f,2017-04-07,25,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24596,air_cbe867adcf44e14f,2017-04-11,2,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24597,air_cbe867adcf44e14f,2017-04-12,7,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24598,air_cbe867adcf44e14f,2017-04-13,5,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24599,air_cbe867adcf44e14f,2017-04-14,20,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24600,air_cbe867adcf44e14f,2017-04-15,15,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24601,air_cbe867adcf44e14f,2017-04-16,15,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24602,air_cbe867adcf44e14f,2017-04-20,6,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24603,air_cbe867adcf44e14f,2017-04-21,13,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24604,air_cbe867adcf44e14f,2017-04-22,11,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24605,air_cbe867adcf44e14f,2017-04-27,20,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24606,air_cbe867adcf44e14f,2017-04-28,20,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923
24607,air_cbe867adcf44e14f,2017-05-19,2,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923

Why they are differnet restaurant? 

Double check

In [104]:
df_storeid[df_storeid.air_store_id == 'air_cbe867adcf44e14f']

             air_store_id          hpg_store_id
134  air_cbe867adcf44e14f  hpg_0183ec352e38903c

In [105]:
df_hstore[df_hstore.hpg_store_id == 'hpg_0183ec352e38903c']

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
3347,hpg_0183ec352e38903c,Creation,Fukuoka-ken Kitakyūshū-shi Aoyama,33.86184,130.751425

In [106]:
df_astore[df_astore.air_store_id == 'air_cbe867adcf44e14f']

,air_store_id,air_genre_name,air_area_name,latitude,longitude
506,air_cbe867adcf44e14f,Izakaya,Fukuoka-ken Kitakyūshū-shi None,33.866465,130.764923

# TODO

- For both df_ar_visit and df_hr_visit, select restaurants which need to be predicted
- Add weekdays and holiday flag

- First directly use df_av for prediction

In [107]:
# How much restaurants need to be predicted?

df_submission = pd.read_csv('data/sample_submission.csv')
df_submission.shape

(32019, 2)

In [108]:
df_submission.head()

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0

In [112]:
df_submission['air_id'] = df_submission.id.apply(lambda x: x[:-11])
df_submission['date']  = df_submission.id.apply(lambda x: x[-10:])
df_submission.head(10)

                                id  visitors                air_id        date
0  air_00a91d42b08b08d9_2017-04-23         0  air_00a91d42b08b08d9  2017-04-23
1  air_00a91d42b08b08d9_2017-04-24         0  air_00a91d42b08b08d9  2017-04-24
2  air_00a91d42b08b08d9_2017-04-25         0  air_00a91d42b08b08d9  2017-04-25
3  air_00a91d42b08b08d9_2017-04-26         0  air_00a91d42b08b08d9  2017-04-26
4  air_00a91d42b08b08d9_2017-04-27         0  air_00a91d42b08b08d9  2017-04-27
5  air_00a91d42b08b08d9_2017-04-28         0  air_00a91d42b08b08d9  2017-04-28
6  air_00a91d42b08b08d9_2017-04-29         0  air_00a91d42b08b08d9  2017-04-29
7  air_00a91d42b08b08d9_2017-04-30         0  air_00a91d42b08b08d9  2017-04-30
8  air_00a91d42b08b08d9_2017-05-01         0  air_00a91d42b08b08d9  2017-05-01
9  air_00a91d42b08b08d9_2017-05-02         0  air_00a91d42b08b08d9  2017-05-02

In [118]:
air_id_list = list(df_submission.air_id.unique())
#air_id_list

In [117]:
#air_id_list